{% extends "base.html" %}
{% load static %}

{% block title %}{% if form.instance.pk %}Editar{% else %}Adicionar{% endif %} Parametrização BIA{% endblock %}

{% block titulo_pagina %}
    <span>{% if form.instance.pk %}EDITAR{% else %}ADICIONAR{% endif %} PARAMETRIZAÇÃO BIA</span>
{% endblock %}

{% block content %}
    <header class="header-interno">
        <h1>{% if form.instance.pk %}Editar{% else %}Adicionar{% endif %} Parametrização ao Projeto: {{ projeto.nome }}</h1>
    </header>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="form-actions">
                <button type="submit" class="btn-principal">Salvar</button>
                <a href="{% url 'projetos:parametrizacao_bia' projeto.id %}" class="btn-secundario">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock %}