{% extends "base.html" %}

{% block title %}Adicionar AQI BIA{% endblock %}

{% block titulo_pagina %}
    <span>ADICIONAR AQI BIA</span>
{% endblock %}

{% block content %}
    <header class="header-interno">
        <h1>Adicionar AQI ao Projeto: {{ projeto.nome }}</h1>
    </header>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            
            {# O Django vai renderizar os campos do AQIBiaForm aqui #}
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="btn-principal">Salvar</button>
                <a href="{% url 'projetos:AQI_BIA' projeto.id %}" class="btn-secundario">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}