{% extends "base.html" %}
{% load static %}

{% block title %}Detalhes de {{ projeto.nome }}{% endblock %}

{% block titulo_pagina %}
    <span>DETALHE PROJETO</span>
{% endblock %}

{% block content %}
<div class="detalhe-container">
    
    <header class="header-interno">
        <h1>{{ projeto.nome }}</h1>
    </header>

    <div class="info-grid-detalhe">
        <div class="info-card-detalhe">
            <div class="info-card-header">Membros</div>
            <div class="info-card-body">
                <ul>
                    <li>[Coordenador] - Temporario </li>
                    <li>[Consultor] - Temporario </li>
                    <li>[Consultor] - Temporario </li>
                </ul>
            </div>
        </div>

        <div class="info-card-detalhe">
            <div class="info-card-header">Andamento</div>
            <div class="info-card-body">
                <p>DREXUS - Temporario</p>
                <p>Porcentagem - Temporario</p>
            </div>
        </div>

        <div class="info-card-detalhe">
            <div class="info-card-header">Descrição</div>
            <div class="info-card-body">
                <p>{{ projeto.descricao }}</p>
            </div>
        </div>

        <a href="#" class="card-link efeito-flutuar">  {# Coloque o link do futuro aqui #}
            <div class="info-card-detalhe">
                <div class="info-card-header">Informações</div>
                <div class="info-card-body">
                    <p>DREXUS</p>
                </div>
            </div>
        </a>
    </div>

    <div class="acoes-grid-container">
        <div class="acoes-grid">
            <a href="{% url 'projetos:planilha_projeto' projeto.id %}" class="botao-acao-projeto"><span>Entrevista</span></a>
            <a href="#" class="botao-acao-projeto"><span>Sistemas de TI</span></a>
            <a href="{% url 'projetos:CADASTRO_BIA' projeto.id %}" class="botao-acao-projeto"><span>Cadastro</span></a>
            <a href="{% url 'projetos:AQI_BIA' projeto.id %}" class="botao-acao-projeto"><span>AQI</span></a>
            <a href="{% url 'projetos:CQP_BIA' projeto.id %}" class="botao-acao-projeto"><span>CQP</span></a>
            <a href="#" class="botao-acao-projeto"><span>Parametrização</span></a>
            <a href="{% url 'projetos:PROBABILIDADE_BIA' projeto.id %}" class="botao-acao-projeto"><span>Probabilidades</span></a>
            <a href="#" class="botao-acao-projeto"><span>Tempos</span></a>
        </div>
    </div>
    <div class="container-botao-voltar">
        <a href="{% url 'projetos:lista_projetos' %}" class="btn-voltar">Voltar para a Lista de Projetos</a>
    </div>

</div>
{% endblock %}