{% extends "base.html" %}
{% load static %}

{% block title %}Formulário Drexus{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <h1>Formulário de Diagnóstico Drexus</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="pergunta-completa">
            <strong>{{ field.label }}</strong>
            <br><br>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Enviar</button>
    </form>
    <br>
    <div style="width: 300px;">
        <a class="btn add-card" href="{% url 'projetos:lista_projetos' %}">Cancelar e Voltar</a>
    </div>
{% endblock %}