{% extends "base.html" %}
{% load static %}

{% block title %}Gerenciamento de Projetos - Disrupt CT{% endblock %}

{% block content %}
    
    <header class="header-interno">
        <h1>GERENCIAMENTO DOS PROJETOS</h1>
    </header>

    <section class="secao-projetos">
        <div class="titulo-secao">
            <h2>DREXUS</h2>
        </div>
        <div class="cards-grid">
                {% for projeto in projetos_drexus %}
                    <a href="{% url 'projetos:resultado' projeto.id %}" class="card-link">
                        <div class="card card-clicavel"> 
                            <div class="card-header">
                                <h3>{{ projeto.nome }}</h3>
                            </div>
                            <div class="card-body">
                                 <p class="card-descricao">{{ projeto.descricao|truncatechars:80 }}</p>
                                 <p class="card-info">[Nota: {{ projeto.nota_final|floatformat:2 }}]</p>
                                 <p class="card-info">[Resultado: {{ projeto.diagnostico }}]</p>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>Nenhum projeto DREXUS encontrado.</p>
                {% endfor %}

                <a href="{% url 'projetos:formulario' %}" class="card-adicionar">
                    <span>Adicionar projeto  DREXUS ...</span>
                    <div class="icone-adicionar">+</div>
                </a>
            </div>
        </section>

    <section class="secao-projetos">
        <div class="titulo-secao">
            <h2>PROJETOS EM ANDAMENTO</h2>
        </div>
            <div class="cards-grid">

                {% for projeto in projetos_andamento %}
                    <a href="{% url 'projetos:detalhe_projeto' projeto.id %}" class="card-link">
                        <div class="card card-clicavel">
                            <div class="card-header">
                                <h3>{{ projeto.nome }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-descricao">{{ projeto.descricao|truncatechars:80 }}</p>
                                <p class="card-info">[Andamento: xx%]</p>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>Nenhum projeto em andamento.</p>
                {% endfor %}

                <a href="{% url 'projetos:criar_projeto' %}" class="card-adicionar">
                    <span>Adicionar projeto ...</span>
                    <div class="icone-adicionar">+</div>
                </a>
            </div>
        </section>

    <section class="secao-projetos">
        <div class="titulo-secao">
            <h2>PROJETOS FINALIZADOS</h2>
        </div>
            <div class="cards-grid">
                
                {% for projeto in projetos_finalizados %}
                    <a href="{% url 'projetos:detalhe_projeto' projeto.id %}" class="card-link">
                        <div class="card card-clicavel">
                            <div class="card-header">
                                <h3>{{ projeto.nome }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-descricao">{{ projeto.descricao|truncatechars:80 }}</p>
                            </div>
                        </div>
                    </a>
                {% empty %}
                    <p>Nenhum projeto finalizado.</p>
                {% endfor %}
            </div>
        </section>
    </div>

{% endblock %}