{% extends "base.html" %}

{% block title %}Planilha de {{ projeto.nome }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://bossanova.uk/jspreadsheet/v4/jspreadsheet.css" type="text/css" />
    <link rel="stylesheet" href="https://jsuites.net/v5/jsuites.css" type="text/css" />
{% endblock %}

{% block content %}
    <h1>Planilha do Projeto: {{ projeto.nome }}</h1>
    <div id="planilha"></div>
    <br>
    <a href="{% url 'projetos:detalhe_projeto' projeto.id %}">Voltar para Detalhes</a>
{% endblock %}

{% block scripts %}
    <script src="https://bossanova.uk/jspreadsheet/v4/jspreadsheet.js"></script>
    <script src="https://jsuites.net/v5/jsuites.js"></script>
    <script>
        const data = [
            ['Nome do Projeto', "{{ projeto.nome|escapejs }}"],
            ['Descrição', "{{ projeto.descricao|escapejs }}"],
        ];

        jspreadsheet(document.getElementById('planilha'), {
            data: data,
            minDimensions: [2, 4],
            columns: [
                { type: 'text', title: 'Campo', width: 200 },
                { type: 'text', title: 'Valor', width: 400 },
            ],
        });
    </script>
{% endblock %}
