{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Disrupt-CT{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet" href="{% static 'css/layout_interno.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="layout-interno">

    <header class="header-topo">
        <div class="header-logo">
            <img src="{% static 'imagens/disrupt.png' %}" alt="Logo Disrupt-CT">
        </div>
        <div class="header-titulo-pagina">
            {% block titulo_pagina %}
            {% endblock %}
        </div>
    </header>

    <nav class="navbar-lateral">
        <ul class="nav-links">
            <li>
                <a href="#" id="btn-toggle-sidebar">
                    <i class="fas fa-bars"></i>
                    <span class="nav-text">Menu</span>
                </a>
            </li>
            <li>
                <a href="{% url 'homepage' %}" title="Início">
                    <i class="fas fa-home"></i>
                    <span class="nav-text">Início</span>
                </a>
            </li>
            <li>
                <a href="{% url 'projetos:lista_projetos' %}" title="Projetos">
                    <i class="fas fa-tablet-alt"></i>
                    <span class="nav-text">Projetos</span>
                </a>
            </li>
            <li>
                <a href="#" title="Usuários">
                    <i class="fas fa-users"></i>
                    <span class="nav-text">Usuários</span>
                </a>
            </li>
            <li class="logout-btn">
                 <a href="{% url 'logout' %}" title="Sair">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-text">Sair</span>
                </a>
            </li>
        </ul>
    </nav>

    <main class="main-content">
        <div class="main-content-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>
</html>